{% extends "layout.html" %}
{% block body %}
    <!--page content-->
    <h1>Home Page</h1>
	<p>Before we look over to out data sets we have to know some basic infomations about cars.
	I'll be talking about how engine works in cars and fuels in cars.</p><br>
	<p>An internal combustion engine is called a "internal combustion engine" because fuel and air combust
	inside the engine to create energy to move the pistons. An external conbustion engine is where fuel is
	burned outside the engine and create energy to move. Some examples of external combustion engines aer steam
	engines and coal is burned outsied of engine. The engine block is the foundation of an engine. The cylinder is
	where the engine's pistons slide up and down. The more cylinders an engine has the more power it is. However, some 
	people ask what is a V6 and a V8 engine. When an engine has more than four cylinders, they are divided into two cylinder banks — three cylinders (or more) per side. 
	The division of cylinders into two banks makes the engine look like a “V.” A V-shaped engine with six cylinders = V6 engine. 
	A V-shaped engine with eight cylinders = V8 — four in each cylinder bank.
	<a href="http://www.artofmanliness.com/2015/10/15/how-a-cars-engine-works/">here</a>
	</p>
	<p>For gasolone wehicles, MPG is how many miles the vehicle can run per gallon.This text indicates the category of the vehicle (e.g., Small SUV, Station Wagon, Pickup Truck, etc.) 
	and the best and worst fuel economy within that category for the given model year. 
	There are nine car categories, six truck categories, and a “special purpose vehicle” category. 
	These categories are used only for labeling and consumer information purposes and do not serve any other regulatory purpose.
	A miles per gallon(MPG) estimate is a required feature that has appeared on the fuel economy label for several decades,this metric
	can be potentially misleading when consumers compare fuel economy improvements, particularly when they use it in place of fuel costs.
	<a href="https://www.fueleconomy.gov/feg/label/learn-more-gasoline-label.shtml">here</a>
	</p>
		<ul>There's different types of fuel for cars
		<li>Diesel Vehicle</li>
		<li>Compressed Natural Gas Vehicle</li>
		<li>Hydrogen Fuel Cell Vehicle</li>
		<li>Flexible-Fuel Vehicle: Gasoline-Ethanol (E85)</li>
		<li>Plug-In Hybrid Vehicle: Electricity-Gasoline</li>
		<li>Electric Vehicle</li>
	<br>
	<ul>Sources
		<li>https://www.fueleconomy.gov/feg/label/learn-more-gasoline-label.shtml</li>
		<li>http://www.artofmanliness.com/2015/10/15/how-a-cars-engine-works/</li>
	<ul>
	
	</body>
	
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
